<!DOCTYPE html>
<html>
    <head>
        <title>Sobre</title>
        <link rel="icon" href="/img/icon.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
             {{>cabecalho}}
            <img class="retrato" src="/img/robo.png">
        </div>
       
        {{>rodape}}
    </body>
</html>