<!DOCTYPE html>
<html>
    <head>
        <title>Sobre</title>
        <link rel="icon" href="/img/icon.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
             {{>cabecalho}}
             <p>Esse site foi criado por Marcelo Ritter. E obtêm seus dados dos sites mapbox.com e darksky.net!</p>
            <img class="retrato" src="/img/eu.jpeg">
        </div>
       
        {{>rodape}}
    </body>
</html>