<!DOCTYPE html>
<html>
    <head>
        <title>Ajuda</title>
        <link rel="icon" href="/img/icon.png">
        <link rel="stylesheet" href="/css/styles.css">

    </head>
    <body>
        <div class="main-content">
            {{>cabecalho}}
            <p>{{helpText}}</p>

        </div>
        
        {{>rodape}}
    </body>
</html>